beautifulsoup4
bs4
keyboard
numpy
platformdirs
psutil
pyautogui
pyjokes
pyttsx3
requests
screen-brightness-control
speechrecognition
tk
urllib3
wikipedia
wolframalpha
winshell
html5lib
pyaudio
pywin32
